:root {
  --bg: #0a0f1a;
  --card: #11182b;
  --text: #d8e2ff;
  --primary: #00b3ff;
  --danger: #ff3860;
  --success: #37ff8b;
  --accent: #9933ff;
  --shadow: 0 0 18px rgba(0, 179, 255, .4);
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background: #000;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 25px;
  box-shadow: var(--shadow);
}

nav a {
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

nav a:hover {
  color: var(--success);
  text-shadow: 0 0 6px var(--primary);
}

.page {
  display: none;
  max-width: 900px;
  margin: auto;
  padding: 25px;
}

.card {
  background: var(--card);
  padding: 18px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  margin-top: 18px;
}

.option {
  background: #1a233a;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .25s;
}

.option:hover {
  border-color: var(--primary);
}

.option.correct {
  background: var(--success);
  color: #000;
}

.option.wrong {
  background: var(--danger);
}

.hidden {
  display: none;
}

button {
  background: var(--accent);
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: .25s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

#explanation {
  text-align: center;
  font-size: 18px;
}

.progress {
  width: 90%;
  height: 12px;
  background: #000;
  border-radius: 10px;
  margin: 12px auto;
}
.progress-bar {
  height: 100%;
  width: 0%;
  background: var(--success);
  border-radius: 10px;
  transition: .4s;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 70%;
  margin-top: 15px;
  font-size: 18px;
}
